body {
    background-color: rgb(27, 27, 30);
    font-family: Inter, sans-serif;
    color: aliceblue;
}

.card img{
    height: 200px;
    /* width:200px; */
    object-fit: contain;
    border-radius: 30px;
}

.containerofcard{
    position: relative;
    left:0px;
}
.card-title{
    height: 1.5em;
    overflow: hidden;;
}

.card-text
{
    height: 2.7em;
    overflow: hidden;;
}


.card
{
    /* width: 200px; */
    height: 350px;
    position: relative;
    top: 0;
    /* border: none; */
    color:aliceblue;
    background-color: transparent;
}

.navbar-custom {
    background-color: transparent;
}

.last-sec {
    height:300px;
}
.last-sec .card-text{
    height: 4em;
    overflow: hidden;;
}

.card:hover {
    top:-20px;
    cursor: pointer;
    transition: top 0.5s;
}


.arrow{
    transition: transform, 0.5s;
}

.arrow-left:hover{
    transform: translateX(-10px);
    transition: transform, 1s;
}

.arrow-right:hover{
    transform: translateX(+10px);
    transition: transform, 1s;
}