.parent{
    border: 1px solid black;
    height: 500px;

    position: relative;
}

.child{
    width: 100px;
    height: 100px;
    background-color: blue;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.carousel-inner img{
    height: 500px;
}

.carousel-inner img{
    object-fit: cover;
}

.card img{
    height: 200px;
    object-fit: contain;
}

.card-title{
    height: 2.2em;
    overflow: hidden;
}

.card-text{
    height: 3.3em;
    overflow: hidden;
}

